adafruit-circuitpython-vl53l0x
RPi.GPIO
Flask
flask-cors
flask-swagger-ui
flask-restful
flask-socketio
python-socketio
eventlet
psutil
netifaces
wifi
HX711-multi
influxdb-client
numpy
git+https://github.com/tatobari/hx711py.git

